/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.411);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    font-family: Arial, sans-serif;
    color: #000000;
}

#map {
    height: 100vh;
    width: 100vw;
}

#menu {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-60%);
    background: rgba(223, 223, 223, 0.76);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    padding: 10px;
    z-index: 1000;
    font-weight: bold;
    border-radius: 8px;
}

#menu button {
    padding: 7px 15px;
    border: black;
    font-weight: bold;
    background: #ffffffb0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    margin: 5px 5px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

#menu button:hover {
    background: #ffffff;
}

#sidebar {
    position: absolute;
    top: 4%;
    right: 0%;
    background: rgba(223, 223, 223, 0.603);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    padding: 10px;
    z-index: 1000;
    font-weight: bold;
    width: 300px;
    height: 94%;
    overflow-y: auto;
    color: rgb(0, 0, 0);
    transition: width 0.3s;
}

.bar-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.bar {
    height: 12px;
    background: #007bffcb;
    margin-left: 10px;
}

#top-stats {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(223, 223, 223, 0.801);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    padding: 10px;
    z-index: 1000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 8px;
}

#popup-form, #edit-popup-form, #new-marker-popup-form {
    display: none;
    position: fixed;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(241, 241, 241, 0.87);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    z-index: 2000;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

#popup-form input, #edit-popup-form input, #new-marker-popup-form input,
#new-marker-popup-form select {
    display: block;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 5px;
    padding: 7px 15px;
    border: black;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
}

#popup-form button, #edit-popup-form button, #new-marker-popup-form button, #add-marker{
    font-weight: bold;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: #f0f0f0d0;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    cursor: pointer;
}

#popup-form button:hover, #edit-popup-form button:hover, #new-marker-popup-form button:hover {
    font-weight: bold;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#view-toggle {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.view-option {
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(163, 163, 163, 0.466);
    border-radius: 5px;
}

.view-option.active {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.562);
    background-color: #ffffffb7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    color: rgb(0, 0, 0);
}

#toggle-sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

#sidebar.collapsed #toggle-sidebar {
    transform: rotate(180deg);
}

#sidebar-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

#sidebar.collapsed + #sidebar-button {
    display: block;
}
#filter-bairro {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.562);
    background-color: #ffffffb7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    transition: background 0.3s;
    
}
#filter-container {
    position: absolute;
    font-weight: bold;
    bottom: 10px;
    left: 10px;
    background: rgba(163, 163, 163, 0.466);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    width: 10%;

}

#filter-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 7px;
    background: rgba(255, 255, 255, 0.562);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
    padding: 7px;
    border-radius: 10px;
}

.popup-form {
    font-weight: bold;
    background: rgba(163, 163, 163, 0.466);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    border-radius: 8px;
    width: 300px;
    color: rgb(0, 0, 0);
}

.popup-form label {
    display: block;
    margin: 10px 0 5px 0;
}

.popup-form input, .popup-form select {
    display: block;
    font-weight: bold;
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: rgba(163, 163, 163, 0.466);
    color: rgb(238, 238, 238);
    box-sizing: border-box;
}

.popup-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #b9b9b9;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.popup-button:hover {
    background-color: #0056b3;
    font-weight: bold;
}

#street-view-button {
    background-color: #28a745;
    font-weight: bold;
}

#street-view-button:hover {
    background-color: #218838;
    font-weight: bold;
}
/* Adições ao styles.css */
#menu.hidden {
    display: none;
}

#toggle-menu-button {
    position: relative;
    top: px;
    right: 6%;
    width: 110%;
    z-index: 1001;
    cursor: pointer;
    background: #ffffffb0;
    border: black;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

#sidebar.collapsed + #sidebar-button {
    display: block;
}
